<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <button mat-raised-button color="primary" routerLink="/formOne/pretragaZahteva">
        Pretraga zahteva
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <table mat-table [dataSource]="tableData">
        <ng-container matColumnDef="zahtevId">
          <th mat-header-cell *matHeaderCellDef> zahtev id </th>
          <td mat-cell *matCellDef="let object"> {{object.zahtevId}} </td>
        </ng-container>
        <ng-container matColumnDef="proizvodId">
          <th mat-header-cell *matHeaderCellDef> proizvod id </th>
          <td mat-cell *matCellDef="let object"> {{object.proizvodId}} </td>
        </ng-container>
        <ng-container matColumnDef="radnikId">
          <th mat-header-cell *matHeaderCellDef> radnik id </th>
          <td mat-cell *matCellDef="let object"> {{object.radnikId}} </td>
        </ng-container>
        <ng-container matColumnDef="veterinarId">
          <th mat-header-cell *matHeaderCellDef> veterinar id </th>
          <td mat-cell *matCellDef="let object"> {{object.veterinarId}} </td>
        </ng-container>
        <ng-container matColumnDef="datum">
          <th mat-header-cell *matHeaderCellDef> datum </th>
          <td mat-cell *matCellDef="let object"> {{dateFormat(object.datum)}} </td>
        </ng-container>
        <ng-container matColumnDef="napomena">
          <th mat-header-cell *matHeaderCellDef> napomena </th>
          <td mat-cell *matCellDef="let object"> {{object.napomena}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <mat-form-field class="datumInput" appearance="standard">
        <mat-label>Datum</mat-label>
        <input matInput placeholder="yyyy-mm-dd" [(ngModel)]="this.date">
        <mat-hint>{{ dateErrorMessage }}</mat-hint>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <mat-form-field class="textarea-filed">
        <mat-label>Opis</mat-label>
        <textarea matInput
           placeholder="Comment"
           style="resize:both" [(ngModel)]="this.description"></textarea>
           <mat-hint>{{ descriptionErrorMessage }}</mat-hint>
      </mat-form-field>
    </div>
  </div>

  <div class="row button-row">
    <div class="col-sm button-col">
      <button mat-raised-button color="primary" class="sacuvaj-btn" (click)="onSacuvaj()">
        Sacuvaj
      </button>

      <button class="odustani-button" mat-raised-button color="primary" (click)="onOdustani()">
        Odustani
      </button>
    </div>
  </div>
</div>
