.container-fluid {
  padding: 0;

  padding: 5% 5%;

  margin: 0;
  max-width: 1000px;

  .row {
    width: 100%;

    .col-sm {
      width: 100%;
    }
  }
}

// * {
//   border: solid 1px red;
// }

table {
  width: 100%;

  margin-top: 40px;

  background: rgb(223, 223, 223);
}

// .mat-column-zahtevId {
// }

// .mat-column-proizvodId {
// }

// .mat-column-radnikId {
// }

// .mat-column-veterinarId {
// }

// .mat-column-datum {
// }

.mat-column-napomena {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.datumInput {
  margin-top: 40px;

  mat-hint {
    color: red;
  }
}

.textarea-filed {
  margin-top: 30px;

  width: 300px;

  mat-hint {
    color: red;
  }
}

.button-row {
  margin-top: 40px;

  .button-col {
    margin-top: 10px;

    .odustani-button {
      margin-left: 100px;
    }
  }
}
