<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <mat-form-field class="id-proizvoda" appearance="standard">
        <mat-label>ID proizvoda</mat-label>
        <input matInput [(ngModel)]="this.proizvodId">
        <mat-hint>{{ proizvodIdErrorMessage }}</mat-hint>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <mat-form-field class="naziv-proizvoda" appearance="standard">
        <mat-label>Naziv proizvoda</mat-label>
        <input matInput [(ngModel)]="this.nazivProizvoda">
        <mat-hint>{{ nazivProizvodaErrorMessage }}</mat-hint>
      </mat-form-field>
    </div>
  </div>

  <div class="row pretraga-proizvoda-row">
    <div class="col-sm">
      <button mat-raised-button (click)="onPretragaProizvoda()">
         Pronadji proizvod
      </button>
    </div>
  </div>

  <div class="row pretraga-otpremnice-row">
    <div class="col-sm">
      <table mat-table [dataSource]="proizvodiTableData">
        <ng-container matColumnDef="proizvodId">
          <th mat-header-cell *matHeaderCellDef> id </th>
          <td mat-cell *matCellDef="let object" (click)="onTableRowSelect(object)"> {{object.id}} </td>
        </ng-container>
        <ng-container matColumnDef="naziv">
          <th mat-header-cell *matHeaderCellDef> naziv </th>
          <td mat-cell *matCellDef="let object" (click)="onTableRowSelect(object)"> {{object.name}} </td>
        </ng-container>
        <ng-container matColumnDef="jedinicaMere">
          <th mat-header-cell *matHeaderCellDef> jedinica mere </th>
          <td mat-cell *matCellDef="let object" (click)="onTableRowSelect(object)"> {{object.unit.name}} </td>
        </ng-container>
        <ng-container matColumnDef="datumProizvodnje">
          <th mat-header-cell *matHeaderCellDef> datum prizvodnje </th>
          <td mat-cell *matCellDef="let object" (click)="onTableRowSelect(object)"> {{dateFormat(object.dateCreated)}} </td>
        </ng-container>
        <ng-container matColumnDef="cena">
          <th mat-header-cell *matHeaderCellDef> cena </th>
          <td mat-cell *matCellDef="let object" (click)="onTableRowSelect(object)"> {{object.price}} </td>
        </ng-container>
        <ng-container matColumnDef="tipProizvoda">
          <th mat-header-cell *matHeaderCellDef> tip proizvoda </th>
          <td mat-cell *matCellDef="let object" (click)="onTableRowSelect(object)"> {{object.productTypeId}} </td>
        </ng-container>
        <ng-container matColumnDef="kolicinaNaStanju">
          <th mat-header-cell *matHeaderCellDef> kolicina na stanju </th>
          <td mat-cell *matCellDef="let object" (click)="onTableRowSelect(object)"> {{object.quantityOnStock}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="proizvodiDisplayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: proizvodiDisplayColumns" [ngClass]="{'selected': row.isSelected}"></tr>
      </table>
    </div>
  </div>

  <div class="row nav-row">
    <div class="col-sm-6">
      <button mat-raised-button color="primary" class="sacuvaj-btn" (click)="onIzaberiProizvod()">
        Izaberi proizvod
      </button>
    </div>

    <div class="col-sm-6">
      <button mat-raised-button color="primary" class="sacuvaj-btn" (click)="onOdustani()">
        Odustani
      </button>
    </div>
  </div>
</div>
