<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Meni</mat-toolbar>
    <mat-nav-list class="nav-list">
      <p>Prost slucaj</p>
      <a mat-list-item routerLink="/formOne">Unos potvrde o kvalitetu</a>
      <a mat-list-item routerLink="/formTwo">Izmena/brisanje potvrde o kvalitetu</a>
      <p>Slozen slucaj</p>
      <a mat-list-item routerLink="/racun">Unos racuna za kupca</a>
      <a mat-list-item routerLink="/izmenaRacuna">Izmena racuna</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>FPIS Projekat</span>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
