.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 320px;

  background: rgb(184, 189, 216);;
}

.sidenav .mat-toolbar {
  background: rgb(139, 148, 199);
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-list {
  p {
    margin-top: 20px;
    margin-left: 5%;
    font-weight: 500;
  }
}
