<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <mat-form-field class="rok-za-placanje" appearance="standard">
        <mat-label>Rok za placanje</mat-label>
        <input matInput placeholder="yyyy-mm-dd" [(ngModel)]="rokZaPlacanje">
        <mat-hint>{{ rokZaPlacanjeErrorMessage }}</mat-hint>
      </mat-form-field>
    </div>

    <div class="col-sm-4">
      <mat-form-field class="textarea-filed">
        <mat-label>Napomena racuna kupca</mat-label>
        <textarea matInput
           placeholder="Comment"
           style="resize:both" [(ngModel)]="napomenaRacunaKupca">
        </textarea>
        <mat-hint>{{ napomenaRacunaKupcaErrorMessage }}</mat-hint>
      </mat-form-field>
    </div>
    <div class="col-sm-4"></div>
  </div>

  <mat-divider></mat-divider>

  <div class="row">
    <div class="col-sm-4 mat-typography nacin-placanja-p">
      <h4>Izaberite moguce nacine placanja</h4>
    </div>
    <div class="col-sm-4">
      <mat-form-field appearance="fill">
        <mat-label>Nacin placanja</mat-label>
        <mat-select>
          <mat-option *ngFor="let nacinPlacanja of naciniPlacanja" [value]="nacinPlacanja" (click)="onNacinPlacanjaSelect(nacinPlacanja)">
            {{ nacinPlacanja.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-4"></div>
  </div>

  <div class="row">
    <div class="col-sm">
      <table id="nacin-placanja-table" class="nacin-placanja-table" mat-table [dataSource]="nacinPlacanjaTableData">
        <ng-container matColumnDef="nacinPlacanja">
          <th mat-header-cell *matHeaderCellDef> nacin placanja </th>
          <td mat-cell *matCellDef="let object"> {{object.name}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="nacinPlacanjaDisplayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: nacinPlacanjaDisplayColumns"></tr>
      </table>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="row pretraga-otpremnice-row">
    <div class="col-sm-3">
      <button mat-raised-button class="table-button" (click)="onPretragaOtpremnice()">
         Pretraga otpremnice
      </button>
    </div>
    <div class="col-sm-9">
      <table class="otpremnica-table" mat-table [dataSource]="otpremnicaTableData">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let object"> {{object.id}} </td>
        </ng-container>
        <ng-container matColumnDef="datumOtpremanja">
          <th mat-header-cell *matHeaderCellDef> datum otpremanja </th>
          <td mat-cell *matCellDef="let object"> {{dateFormat(object.dispatchDate)}} </td>
        </ng-container>
        <ng-container matColumnDef="kupacId">
          <th mat-header-cell *matHeaderCellDef> kupac id </th>
          <td mat-cell *matCellDef="let object"> {{object.customerId}} </td>
        </ng-container>
        <ng-container matColumnDef="radnikDopremioId">
          <th mat-header-cell *matHeaderCellDef> radnik dopremio id </th>
          <td mat-cell *matCellDef="let object"> {{object.workerDelivered}} </td>
        </ng-container>
        <ng-container matColumnDef="radnikIznadId">
          <th mat-header-cell *matHeaderCellDef> radnik iznad id </th>
          <td mat-cell *matCellDef="let object"> {{object.workerIssued}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="otpremnicaDisplayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: otpremnicaDisplayColumns"></tr>
      </table>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div mat-typography class="stavke-racuna-p">
    <h4>Stavke racuna</h4>
  </div>

  <div class="row pretraga-proizvoda-row">
    <div class="col-sm-3">
      <button mat-raised-button class="table-button" (click)="onPretragaProizvoda()">
         Pretraga proizvoda
      </button>
    </div>
    <div class="col-sm-9">
      <table mat-table [dataSource]="proizvodiTableData">
        <ng-container matColumnDef="proizvodId">
          <th mat-header-cell *matHeaderCellDef> id </th>
          <td mat-cell *matCellDef="let object" (click)="onProductTableRowSelect(object)"> {{object.id}} </td>
        </ng-container>
        <ng-container matColumnDef="naziv">
          <th mat-header-cell *matHeaderCellDef> naziv </th>
          <td mat-cell *matCellDef="let object" (click)="onProductTableRowSelect(object)"> {{object.name}} </td>
        </ng-container>
        <ng-container matColumnDef="jedinicaMere">
          <th mat-header-cell *matHeaderCellDef> jedinica mere </th>
          <td mat-cell *matCellDef="let object" (click)="onProductTableRowSelect(object)"> {{object.unit.name}} </td>
        </ng-container>
        <ng-container matColumnDef="datumProizvodnje">
          <th mat-header-cell *matHeaderCellDef> datum prizvodnje </th>
          <td mat-cell *matCellDef="let object" (click)="onProductTableRowSelect(object)"> {{dateFormat(object.dateCreated)}} </td>
        </ng-container>
        <ng-container matColumnDef="cena">
          <th mat-header-cell *matHeaderCellDef> cena </th>
          <td mat-cell *matCellDef="let object" (click)="onProductTableRowSelect(object)"> {{object.price}} </td>
        </ng-container>
        <ng-container matColumnDef="tipProizvoda">
          <th mat-header-cell *matHeaderCellDef> tip proizvoda </th>
          <td mat-cell *matCellDef="let object" (click)="onProductTableRowSelect(object)"> {{object.productTypeId}} </td>
        </ng-container>
        <ng-container matColumnDef="kolicinaNaStanju">
          <th mat-header-cell *matHeaderCellDef> kolicina na stanju </th>
          <td mat-cell *matCellDef="let object" (click)="onProductTableRowSelect(object)"> {{object.quantityOnStock}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="proizvodiDisplayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: proizvodiDisplayColumns" [ngClass]="{'selected': row.isSelected}"></tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <mat-form-field appearance="standard">
        <mat-label>Narucena kolicina</mat-label>
        <input matInput [(ngModel)]="this.narucenaKolicina">
        <mat-hint>{{ narucenaKolicinaErrorMessage }}</mat-hint>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field appearance="standard">
        <mat-label>Popust</mat-label>
        <input matInput [(ngModel)]="this.popust">
        <mat-hint>{{ popustErrorMessage }}</mat-hint>
      </mat-form-field>
    </div>
    <div class="col-sm-4"></div>
  </div>

  <div class="row dodaj-stavku-row">
    <div class="col-sm-4">
      <button class="odustani-button" mat-raised-button color="primary" (click)="onDodajStavku()">
        Dodaj stavku
      </button>
    </div>
  </div>

  <div class="row items-row">
    <div class="col-sm-9">
      <table mat-table [dataSource]="proizvodStavkeTableData">
        <ng-container matColumnDef="proizvodId">
          <th mat-header-cell *matHeaderCellDef> proizvod id </th>
          <td mat-cell *matCellDef="let object" (click)="onItemsTableRowSelect(object)"> {{object.productId}} </td>
        </ng-container>
        <ng-container matColumnDef="kolicina">
          <th mat-header-cell *matHeaderCellDef> kolicina </th>
          <td mat-cell *matCellDef="let object" (click)="onItemsTableRowSelect(object)"> {{object.quantity}} </td>
        </ng-container>
        <ng-container matColumnDef="popust">
          <th mat-header-cell *matHeaderCellDef> popust </th>
          <td mat-cell *matCellDef="let object" (click)="onItemsTableRowSelect(object)"> {{object.rebate}} </td>
        </ng-container>
        <ng-container matColumnDef="cenaStavke">
          <th mat-header-cell *matHeaderCellDef> cena stavke </th>
          <td mat-cell *matCellDef="let object" (click)="onItemsTableRowSelect(object)"> {{object.priceWithDiscount}} </td>
        </ng-container>
        <ng-container matColumnDef="nazivProizvoda">
          <th mat-header-cell *matHeaderCellDef> naziv proizvoda </th>
          <td mat-cell *matCellDef="let object" (click)="onItemsTableRowSelect(object)"> {{object.productName}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="proizvodStavkeDisplayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: proizvodStavkeDisplayColumns" [ngClass]="{'selected': row.isSelected}"></tr>
      </table>
    </div>
    <div class="col-sm-3 tabela-opcije">
      <div class="row button-row">
        <button mat-raised-button (click)="onIzmeniStavku()">
          Izmeni stavku
       </button>
      </div>
      <div class="row button-row">
        <button mat-raised-button (click)="onObrisiStavku()">
          Obrisi stavku
        </button>
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="row">
    <div class="col-sm-4">
      <mat-form-field appearance="fill">
        <mat-label>Racun kreirao</mat-label>
        <mat-select>
          <mat-option *ngFor="let radnik of radnici" [value]="radnik" (click)="onRadnikSelect(radnik)">
            {{radnik.firstLastName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-4 radnik">
      <p disabled="true" *ngIf="this.selektovaniRadnk != undefined || this.selektovaniRadnk != null">
        {{this.selektovaniRadnk.firstLastName}}
      </p>
      <p disabled="true" *ngIf="this.selektovaniRadnk == undefined || this.selektovaniRadnk == null">

      </p>
    </div>
    <div class="col-sm-4"></div>
  </div>

  <div class="row confirm-row" *ngIf="!this.componentIsChildComponent">
    <div class="col-sm">
      <button mat-raised-button color="primary" (click)="onPotvrdi()">
        Potvrdi
      </button>
    </div>
  </div>
</div>
