.container-fluid {
  margin: 1%;
  padding-top: 3%;
  padding-bottom: 3%;
  border: solid 1px black;

  max-width: 1000px;
}

.row {
  margin-left: 3%;
}

mat-hint {
  color: red;
}

mat-divider {
  margin-top: 10px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 30px;
  background: rgb(63, 63, 63, 0.5);
}

.nacin-placanja-p {
  margin-top: 12px;
}

.nacin-placanja-btn {
  border: solid 1px red;
}

.pretraga-otpremnice-row {
  margin-bottom: 30px;

  .table-button {
    margin-top: 2px;

    border: solid 1px rgb(0, 0, 0, 0.85);

    box-shadow: none;
  }
}

.pretraga-proizvoda-row {
  margin-bottom: 30px;

  .table-button {
    margin-top: 2px;

    border: solid 1px rgb(0, 0, 0, 0.85);

    box-shadow: none;
  }

  tr.selected {
    background: rgb(151, 151, 151);
  }
}

table {
  width: 100%;

  background: rgb(223, 223, 223);

  &.nacin-placanja-table {
    display: block;
    overflow-x: auto;

    max-height: 200px;
    width: 50%;

    margin-top: 30px;
    margin-bottom: 30px;

    th {
      background: rgb(223, 223, 223);
      position: sticky;
      top: 0;
    }
  }

  // .mat-column-tipProizvoda {
  //   padding-left: 15px;
  //   padding-right: 15px;
  //   width: 20px;
  // }
}

.tabela-opcije {
  margin-bottom: 30px;

  button {
    margin-top: 2px;

    border: solid 1px rgb(0, 0, 0, 0.85);

    box-shadow: none;
  }

  .button-row {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.stavke-racuna-p {
    margin-left: 2.5%;
    margin-bottom: 30px;
}

.dodaj-stavku-row {
  margin-top: 30px;
}

.items-row {
  margin-top: 30px;
  margin-bottom: 30px;

  table {
    tr.selected {
      background: rgb(151, 151, 151);
    }
  }
}

.confirm-row {
  margin-top: 30px;
}

.radnik {
  padding-top: 9px;

  display: flex;
  justify-content: center;
  align-items: center;

  p {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    vertical-align: middle;

    height: 40px;
    width: 140px;

    border: solid 1px rgb(0, 0, 0, 0.85);

    border-radius: 11px;

    box-shadow: none;
  }
}
