<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <mat-form-field class="sifraInput" appearance="standard">
        <mat-label>Sifra zahteva</mat-label>
        <input matInput [(ngModel)]="this.sifraZahteva">
        <mat-hint>{{ sifraZahtevaErrorMessage }}</mat-hint>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <mat-form-field class="datumInput" appearance="standard">
        <mat-label>Datum zahteva</mat-label>
        <input matInput placeholder="yyyy-mm-dd" [(ngModel)]="this.datumZahteva">
        <mat-hint>{{ datumZahtevaErrorMessage }}</mat-hint>
      </mat-form-field>
    </div>
  </div>

  <div class="row search-row">
    <div class="col-sm">
      <button mat-raised-button (click)="onPretragaZahteva()">
        Pretraga zahteva
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <table mat-table [dataSource]="tableData">
        <ng-container matColumnDef="zahtevId">
          <th mat-header-cell *matHeaderCellDef> zahtev id </th>
          <td mat-cell *matCellDef="let object" (click)="onRowSelect(object)"> {{object.zahtevId}} </td>
        </ng-container>
        <ng-container matColumnDef="proizvodId">
          <th mat-header-cell *matHeaderCellDef> proizvod id </th>
          <td mat-cell *matCellDef="let object" (click)="onRowSelect(object)"> {{object.proizvodId}} </td>
        </ng-container>
        <ng-container matColumnDef="radnikId">
          <th mat-header-cell *matHeaderCellDef> radnik id </th>
          <td mat-cell *matCellDef="let object" (click)="onRowSelect(object)"> {{object.radnikId}} </td>
        </ng-container>
        <ng-container matColumnDef="veterinarId">
          <th mat-header-cell *matHeaderCellDef> veterinar id </th>
          <td mat-cell *matCellDef="let object" (click)="onRowSelect(object)"> {{object.veterinarId}} </td>
        </ng-container>
        <ng-container matColumnDef="datum">
          <th mat-header-cell *matHeaderCellDef> datum </th>
          <td mat-cell *matCellDef="let object" (click)="onRowSelect(object)"> {{dateFormat(object.datum)}} </td>
        </ng-container>
        <ng-container matColumnDef="napomena">
          <th mat-header-cell *matHeaderCellDef> napomena </th>
          <td mat-cell *matCellDef="let object" (click)="onRowSelect(object)"> {{object.napomena}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumns" [ngClass]="{'selected': row.isSelected}"></tr>
      </table>
    </div>
  </div>

  <div class="row button-row">
    <div class="col-sm button-col">
      <button mat-raised-button color="primary" (click)="onIzaberiZahtev()">
        Izaberi zahtev
      </button>

      <button class="back-button" mat-raised-button color="primary" [replaceUrl]="true" routerLink="/formOne">
        Odustani
      </button>
    </div>
  </div>
</div>
