.container-fluid {
  padding: 0;

  padding: 3% 5%;

  margin: 0;

  max-width: 1000px;

  .row {
    width: 100%;

    .col-sm {
      width: 100%;
    }
  }
}

.row {
  padding: 0;

  .col-sm {
    padding: 0;
  }
}

.sifraInput {
  padding-top: 0;

  mat-hint {
    color: red;
  }
}

.datumInput {
  mat-hint {
    color: red;
  }
}

.search-row {
  margin-top: 30px;

  button {
    border: solid 1px rgb(0, 0, 0, 0.85);

    box-shadow: none;
  }
}

table {
  width: 100%;

  margin-top: 40px;

  background: rgb(223, 223, 223);

  tr.selected {
    background: rgb(151, 151, 151);
  }
}

.mat-column-napomena {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.button-row {
  margin-top: 50px;

  .button-col {
    margin-top: 10px;

    .back-button {
      margin-left: 100px;
    }
  }
}

