.container-fluid {
  margin: 1%;

  padding-top: 3%;
  padding-bottom: 3%;
}

.row {
  margin-left: 3%;
  margin-right: 3%;
}

mat-hint {
  color: red;
}

.pretraga-otpremnice-row {
  margin-top: 20px;

  button {
    border: solid 1px rgb(0, 0, 0, 0.85);

    box-shadow: none;
  }
}

table {
  margin-top: 30px;

  width: 100%;

  background: rgb(223, 223, 223);

  margin-bottom: 30px;

  tr.selected {
    background: rgb(151, 151, 151);
  }
}

.nav-row {
  margin-top: 30px;
}
