<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <mat-form-field class="id-otpremnice" appearance="standard">
        <mat-label>ID otpremnice</mat-label>
        <input matInput [(ngModel)]="this.otpremnicaId">
        <mat-hint>{{ otpremnicaIdErrorMessage }}</mat-hint>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <mat-form-field class="datum-otpremnice" appearance="standard">
        <mat-label>Datum otpremnice</mat-label>
        <input matInput placeholder="yyyy-mm-dd" [(ngModel)]="this.datumOtpremnice">
        <mat-hint>{{ datumOtpremniceErrorMessage }}</mat-hint>
      </mat-form-field>
    </div>
  </div>

  <div class="row pretraga-otpremnice-row">
    <div class="col-sm">
      <button mat-raised-button (click)="onPretragaOtpremnice()">
         Pronadji otpremnicu
      </button>
    </div>
  </div>

  <div class="row pretraga-otpremnice-row">
    <div class="col-sm">
      <table class="otpremnica-table" mat-table [dataSource]="otpremnicaTableData">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let object" (click)="onTableRowSelect(object)"> {{object.id}} </td>
        </ng-container>
        <ng-container matColumnDef="datumOtpremanja">
          <th mat-header-cell *matHeaderCellDef> datum otpremanja </th>
          <td mat-cell *matCellDef="let object" (click)="onTableRowSelect(object)"> {{dateFormat(object.dispatchDate)}} </td>
        </ng-container>
        <ng-container matColumnDef="kupacId">
          <th mat-header-cell *matHeaderCellDef> kupac id </th>
          <td mat-cell *matCellDef="let object" (click)="onTableRowSelect(object)"> {{object.customerId}} </td>
        </ng-container>
        <ng-container matColumnDef="radnikDopremioId">
          <th mat-header-cell *matHeaderCellDef> radnik dopremio id </th>
          <td mat-cell *matCellDef="let object" (click)="onTableRowSelect(object)"> {{object.workerDelivered}} </td>
        </ng-container>
        <ng-container matColumnDef="radnikIznadId">
          <th mat-header-cell *matHeaderCellDef> radnik iznad id </th>
          <td mat-cell *matCellDef="let object" (click)="onTableRowSelect(object)"> {{object.workerIssued}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="otpremnicaDisplayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: otpremnicaDisplayColumns" [ngClass]="{'selected': row.isSelected}"></tr>
      </table>
    </div>
  </div>

  <div class="row nav-row">
    <div class="col-sm-6">
      <button mat-raised-button color="primary" class="sacuvaj-btn" (click)="onIzaberiOtpremnicu()">
        Izaberi otpremnicu
      </button>
    </div>

    <div class="col-sm-6">
      <button mat-raised-button color="primary" class="sacuvaj-btn" (click)="onOdustani()">
        Odustani
      </button>
    </div>
  </div>
</div>
