.container-fluid {
  padding: 0;
  margin: 0;

  padding: 3% 5%;

  max-width: 1000px;

  .row {
    width: 100%;

    .col-sm {
      width: 100%;
    }
  }

  margin-bottom: 200px;
}

.potvrdaIdInput {
  padding-top: 0;

  mat-hint {
    color: red;
  }
}

.datumKreiranjaInput {
  mat-hint {
    color: red;
  }
}

.pretplata-dugme-row {
  margin-top: 30px;

  button {
    border: solid 1px rgb(0, 0, 0, 0.85);

    box-shadow: none;
  }
}

table {
  width: 100%;

  margin-top: 40px;

  background: rgb(223, 223, 223);

  tr.selected {
    background: rgb(151, 151, 151);
  }
}

.izaberi-potvrdu-row {
  margin-top: 40px;

  .potvrdaIdInputUneditable {
    padding-top: 0;
  }
}

.paragraph-col {
  margin-top: 20px;
}

mat-divider {
  margin-top: 20px;
  margin-bottom: 20px;

  background: rgb(63, 63, 63, 0.5);

  &.second-divider {
    margin-top: 40px;
    margin-bottom: 0;
  }
}

.subtitle-p {
  text-align: center;
}

.pretraga-zahteva-row {
  margin-top: 40px;

  .potvrdaIdInputUneditable {
    padding-top: 0;
  }
}

.datumInput {
  margin-top: 40px;

  mat-hint {
    color: red;
  }
}

.textarea-filed {
  margin-top: 30px;

  width: 300px;

  mat-hint {
    color: red;
  }
}

.button-row {
  margin-top: 40px;

  .button-col {
    margin-top: 10px;

    .odustani-button {
      margin-left: 80px;
    }
  }
}
