<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <mat-form-field class="potvrdaIdInput" appearance="standard">
        <mat-label>Potvrda o kvalitetu id</mat-label>
        <input matInput [(ngModel)]="this.potvrdaOKvalitetuId">
        <mat-hint>{{ potvrdaOKvalitetuErrorMessage }}</mat-hint>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <mat-form-field class="datumKreiranjaInput" appearance="standard">
        <mat-label>Datum kreiranja potvrde</mat-label>
        <input matInput placeholder="yyyy-mm-dd" [(ngModel)]="this.datumKreiranjaPotvrde">
        <mat-hint>{{ datumKreiranjaPotvrdeErrorMessage }}</mat-hint>
      </mat-form-field>
    </div>
  </div>

  <div class="row pretplata-dugme-row">
    <div class="col-sm">
      <button mat-raised-button (click)="onPretragaPotvrde()">
        Pretraga potvrde
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <table mat-table [dataSource]="tableData">
        <ng-container matColumnDef="potvrdaId">
          <th mat-header-cell *matHeaderCellDef> potvrda id </th>
          <td mat-cell *matCellDef="let object" (click)="onRowSelect(object)"> {{object.potvrdaId}} </td>
        </ng-container>
        <ng-container matColumnDef="zahtevId">
          <th mat-header-cell *matHeaderCellDef> zahtev id </th>
          <td mat-cell *matCellDef="let object" (click)="onRowSelect(object)"> {{object.zahtevId}} </td>
        </ng-container>
        <ng-container matColumnDef="datumPotvrde">
          <th mat-header-cell *matHeaderCellDef> datum potvrde </th>
          <td mat-cell *matCellDef="let object" (click)="onRowSelect(object)"> {{dateFormat(object.datumPotvrde)}} </td>
        </ng-container>
        <ng-container matColumnDef="opisPotvrde">
          <th mat-header-cell *matHeaderCellDef> opis potvrde </th>
          <td mat-cell *matCellDef="let object" (click)="onRowSelect(object)"> {{object.opisPotvrde}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumns" [ngClass]="{'selected': row.isSelected}"></tr>
      </table>
    </div>
  </div>

  <div class="row izaberi-potvrdu-row">
    <div class="col-sm">
      <button mat-raised-button color="primary" (click)="onIzaberiPotvrdu()">
        Izaberi potvrdu
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm mat-typography paragraph-col">
      <h3>Potvrda o kvalitetu id: <strong>{{ potvrdaOKvalitetuIdUneditable }}</strong></h3>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="row">
    <div class="col-sm mat-typography subtitle-p">
      <h2>Podaci o zahtevu</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <table mat-table [dataSource]="tableDataTwo">
        <ng-container matColumnDef="zahtevId">
          <th mat-header-cell *matHeaderCellDef> zahtev id </th>
          <td mat-cell *matCellDef="let object"> {{object.zahtevId}} </td>
        </ng-container>
        <ng-container matColumnDef="proizvodId">
          <th mat-header-cell *matHeaderCellDef> proizvod id </th>
          <td mat-cell *matCellDef="let object"> {{object.proizvodId}} </td>
        </ng-container>
        <ng-container matColumnDef="radnikId">
          <th mat-header-cell *matHeaderCellDef> radnik id </th>
          <td mat-cell *matCellDef="let object"> {{object.radnikId}} </td>
        </ng-container>
        <ng-container matColumnDef="veterinarId">
          <th mat-header-cell *matHeaderCellDef> veterinar id </th>
          <td mat-cell *matCellDef="let object"> {{object.veterinarId}} </td>
        </ng-container>
        <ng-container matColumnDef="datum">
          <th mat-header-cell *matHeaderCellDef> datum </th>
          <td mat-cell *matCellDef="let object"> {{dateFormat(object.datum)}} </td>
        </ng-container>
        <ng-container matColumnDef="napomena">
          <th mat-header-cell *matHeaderCellDef> napomena </th>
          <td mat-cell *matCellDef="let object"> {{object.napomena}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayColumnsTwo"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumnsTwo" [ngClass]="{'selected': row.isSelected}"></tr>
      </table>
    </div>
  </div>

  <div class="row pretraga-zahteva-row">
    <div class="col-sm">
      <button mat-raised-button color="primary" routerLink="/formTwo/pretragaZahteva">
        Pretraga zahteva
      </button>
    </div>
  </div>

  <mat-divider class="second-divider"></mat-divider>

  <div class="row">
    <div class="col-sm">
      <mat-form-field class="datumInput" appearance="standard">
        <mat-label>Datum</mat-label>
        <input matInput placeholder="yyyy-mm-dd" [(ngModel)]="this.date">
        <mat-hint>{{ dateErrorMessage }}</mat-hint>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <mat-form-field class="textarea-filed">
        <mat-label>Opis</mat-label>
        <textarea matInput
           placeholder="Comment"
           style="resize:both" [(ngModel)]="this.description"></textarea>
          <mat-hint>{{ descriptionErrorMessage }}</mat-hint>
      </mat-form-field>
    </div>
  </div>

  <div class="row button-row">
    <div class="col-sm button-col">
      <button mat-raised-button color="primary" class="sacuvaj-btn" (click)="onIzmeniZahtev()">
        Izmeni potvrdu
      </button>

      <button class="odustani-button" mat-raised-button color="primary" (click)="onObrisiZahtev()">
        Obrisi potvrdu
      </button>

      <button class="odustani-button" mat-raised-button color="primary" (click)="onOdustani()">
        Odustani
      </button>
    </div>
  </div>
</div>
