.container-fluid {
  margin: 1%;
  padding-top: 3%;
  padding-bottom: 3%;

  max-width: 1000px;
}

.row {
  margin-left: 3%;
}

mat-hint {
  color: red;
}

table {
  width: 100%;

  background: rgb(223, 223, 223);

  margin-top: 30px;
  margin-bottom: 30px;

  tr.selected {
    background: rgb(151, 151, 151);
  }
}

.pretraga-racuna-button {
  margin-top: 20px;

  border: solid 1px rgb(0, 0, 0, 0.85);

  box-shadow: none;
}

.izaberi-racun-button {
  margin-top: 20px;

  border: solid 1px rgb(0, 0, 0, 0.85);

  box-shadow: none;
}

mat-divider {
  margin-top: 30px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 30px;
  background: rgb(63, 63, 63, 0.5);
}

.racun-id-row {
  margin-bottom: 30px;

  .racun-id-unedit {
    display: flex;
    justify-content: left;
    align-items: center;

    p {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      text-align: center;
      vertical-align: middle;

      margin-left: 20px;

      height: 30px;
      width: 40px;

      border: solid 1px rgb(0, 0, 0, 0.85);

      border-radius: 11px;

      box-shadow: none;

      font-size: 15px;
    }

    h5 {
      margin: 0;
      margin-top: 1px;
    }
  }
}

.racun-not-present-div {
  height: 70px;

  width: 100%;

  mat-spinner {
    margin-left: auto;
    margin-right: auto;
  }

}

