<div id="main-container" class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <mat-form-field class="id-proizvoda" appearance="standard">
        <mat-label>ID racuna</mat-label>
        <input matInput [(ngModel)]="this.iDRacuna">
        <mat-hint>{{ iDRacunaErrorMessage }}</mat-hint>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <mat-form-field class="datum-otpremnice" appearance="standard">
        <mat-label>Rok placanja</mat-label>
        <input matInput placeholder="yyyy-mm-dd" [(ngModel)]="this.rokPlacanja">
        <mat-hint>{{ rokPlacanjaErrorMessage }}</mat-hint>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <button mat-raised-button class="pretraga-racuna-button" (click)="onPretragaRacuna()">
        Pronadji racun
     </button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <table mat-table [dataSource]="racuniTableData">
        <ng-container matColumnDef="racunId">
          <th mat-header-cell *matHeaderCellDef> racun id </th>
          <td mat-cell *matCellDef="let object" (click)="onReceiptTableRowSelect(object)"> {{object.id}} </td>
        </ng-container>
        <ng-container matColumnDef="rokPlacanja">
          <th mat-header-cell *matHeaderCellDef> rok placanja </th>
          <td mat-cell *matCellDef="let object" (click)="onReceiptTableRowSelect(object)"> {{dateFormat(object.dueDate)}} </td>
        </ng-container>
        <ng-container matColumnDef="napomena">
          <th mat-header-cell *matHeaderCellDef> napomena </th>
          <td mat-cell *matCellDef="let object" (click)="onReceiptTableRowSelect(object)"> {{object.note}} </td>
        </ng-container>
        <ng-container matColumnDef="otpremnicaId">
          <th mat-header-cell *matHeaderCellDef> otpremnica id </th>
          <td mat-cell *matCellDef="let object" (click)="onReceiptTableRowSelect(object)"> {{object.deliveryNote.id}} </td>
        </ng-container>
        <ng-container matColumnDef="kupacId">
          <th mat-header-cell *matHeaderCellDef> kupac id </th>
          <td mat-cell *matCellDef="let object" (click)="onReceiptTableRowSelect(object)"> {{object.deliveryNote.customerId}} </td>
        </ng-container>
        <ng-container matColumnDef="radnikId">
          <th mat-header-cell *matHeaderCellDef> radnik id </th>
          <td mat-cell *matCellDef="let object" (click)="onReceiptTableRowSelect(object)"> {{object.workerId}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="racuniDisplayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: racuniDisplayColumns" [ngClass]="{'selected': row.isSelected}"></tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <button mat-raised-button class="izaberi-racun-button" (click)="onizaberiRacun()">
        Izaberi racun
     </button>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="row racun-id-row">
    <div typography class="col-sm racun-id-unedit">
      <h5>RACUN ID</h5>
      <p>
        {{racunIdUneditable}}
      </p>
    </div>
  </div>

  <app-racun *ngIf="this.racunSelektovan" [componentIsChildComponent]="true" [selektovaniParentRacun]="this.racun"></app-racun>
  <div *ngIf="!this.racunSelektovan" class="racun-not-present-div">
    <mat-spinner diameter="70" *ngIf="this.racunLoading"></mat-spinner>
  </div>

  <mat-divider></mat-divider>

  <div class="row">
    <div class="col-sm-3">
      <button mat-raised-button color="primary" (click)="onIzmeniRacun()">
        Izmeni racun
      </button>
    </div>
    <div class="col-sm-3">
      <button mat-raised-button color="primary" (click)="onObrisiRacun()">
        Obrisi racun
      </button>
    </div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3"></div>
  </div>
</div>
